.music-player {
  position: relative;
  margin-top: 100px;
  left: 100px;
}

.music-player .track-information {
  height: 50px;
  width: 600px;
  overflow: hidden;
  position: relative;
  left: 30px;
  margin: 0px 90px 0px 0px;
}
.music-player .track-info {
  font-size: 2.5em;
  position: absolute;  
  height: 50px;
  width: max-content;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: track-info 8s linear infinite;
  -webkit-animation: track-info 8s linear infinite;
  animation: track-info 8s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes track-info {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes track-info {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes track-info {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

.music-player .controls {
  margin: 16px 0px;
  padding: 0 0;
  text-align: center;
}

.music-player .step-backward-button {
  background-color: #c400c6;
  border-color: #c400c6;
  border-radius: 50%;
  font-size: 200%;
  padding: 3px 13px;
}

.music-player .step-forward-button {
  background-color: #c400c6;
  border-color: #c400c6;
  border-radius: 50%;
  font-size: 200%;
  padding: 3px 13px;
}

.music-player .pause-play-button {
  background-color: #c400c6;
  border-color: #c400c6;
  border-radius: 50%;
  font-size: 250%;
  padding: 5px 19px 8px 24px;
  margin: 0px 32px;
}

.music-player .timestamps {
  text-align: center;
  background-color: #160f30;
}

.music-player .time-current {
  display: inline;
  font-size: 180%;
}

.music-player .time-total {
  display: inline;
  font-size: 180%;
}

.music-player .time-sep {
  display: inline;
  font-size: 180%;
}
