/* .car-state-view {
    padding: 20px;
    z-index: 1;
} */
img {
    position: absolute;
    z-index: 1;
}
/* .car-state-view .control-board {
    display: none;
} */
/* HEADLIGHTS */
.car-state-view .headlights {
    position: absolute;
    margin-top: -180px;
    margin-left: -90px;
    width: 100%;
    height: auto;
    z-index: 0;
}

.car-state-view .head-lights {
    width: 550px;;
    height: 800px;
}

.car-state-view .Lheadlight {
    position: absolute;
    margin-left: 42.5px;
    margin-top: 18px;
}

.car-state-view .Rheadlight {
    position: absolute;
    margin-left: 257px;
    margin-top: 22px;
}

/* REAR LIGHTS */
.car-state-view .rear-lights {
    position: absolute;
    margin-top: 600px;
    margin-left: -16px;
    width: 100%;
    z-index: 0;
}

.car-state-view .Lrearlight {
    margin-top: 610px;
    margin-left: 40px;
}

.car-state-view .Rrearlight {
    margin-top: 610px;
    margin-left: 252px;
}

.car-state-view .brake-lights {
    position: absolute;
    /*background-image: url('../assets/status/rear-lights.png');
    width: 100%;
    height: 1060px;*/
    width: 390px;;
    height: 200px;
}

/* TURN SIGNAL */
.car-state-view .left-turn-signal {
    position: absolute;
    /*background-image: url('../assets/status/left-turn-signal.png');*/
    width: 130px;
    height: 460px;
}

.car-state-view .left-signal {
    width: 100%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 0;
}

.car-state-view .right-turn-signal {
    position: absolute;
    /*background-image: url('../assets/status/right-turn-signal.png');*/
    width: 130px;
    height: 460px;
}

.car-state-view .right-signal {
    width: 100%;
    margin-left: 281px;
    margin-top: -50px;
    z-index: 0;
}


/* HORN */
.car-state-view .horn {
    position: absolute;
    color: rgb(216, 38, 216);
    font-size: 5em;
    top: 50px;
    right: 900px;
    /* left: 370px; */
    z-index: 100;
    width: 200px;
    height: 400px;
}

/* .honk {
    position: absolute;
    width: 100%;
    margin-left: -1410px;
    margin-top: 200px;
} */

/* .relay-a {
    z-index: 100;
    font-size: 2em;
    font-weight: 800;
    position: absolute;
    left: 130px;
    bottom: 200px;
    color: greenyellow;
}

.relay-b {
    z-index: 100;
    font-size: 2em;
    font-weight: 800;
    position: absolute;
    left: 130px;
    bottom: 150px;
    color: greenyellow;
} */


/* .car {
    position: center;
    height: 820px;
    width: 437px;
    background-image: url('../assets/status/newCar.png');
} */
/*.car .lBlink {
    
    background-image: url('../assets/Lblinker.png');
    position: absolute;
    top: 139px;
    left: 104px;
    display: inline-block;
    /* background-color: orange;
    height: 59px;
    width: 12px;
}
.car .rBlink {
    background-image: url('../assets/Rblinker.png');
    position: absolute;
    top: 139px;
    left: 364px;
    display: inline-block;
    /* background-color: orange; 
    height: 59px;
    width: 12px;
}
.car .LF {
    background-image: url('../assets/LF.png');
    position: absolute;
    top: 108px;
    left: 102px;
    display: inline-block;
    /* background-color: orange; 
    height: 90px;
    width: 60px;
}
.car .RF {
    background-image: url('../assets/RF.png');
    position: absolute;
    top: 108px;
    left: 316px;
    display: inline-block;
    /* background-color: orange; 
    height: 90px;
    width: 60px;
}



.car .LB {
    
    background-image: url('../assets/LB.png');
    position: absolute;
    top: 700px;
    left: 100px;
    display: inline-block;
    /* background-color: orange; 
    height: 118px;
    width: 59px;
}
.car .RB {
    background-image: url('../assets/RB.png');
    position: absolute;
    top: 700px;
    left: 312px;
    display: inline-block;
    /* background-color: orange; 
    height: 118px;
    width: 59px;
}*/



/*.car .A {
    background-color: green;
    position: absolute;
    top: 520px;
    left: 150px;
    display: inline-block;
    /* background-color: orange; 
    height: 50px;
    width: 50px;
}

.car .B {
    background-color: red;
    position: absolute;
    top: 520px;
    left: 210px;
    display: inline-block;
    /* background-color: orange; 
    height: 50px;
    width: 50px;
}

.car .C {
    background-color: green;
    position: absolute;
    top: 520px;
    left: 270px;
    display: inline-block;
    /* background-color: orange; 
    height: 50px;
    width: 50px;
}*/

/*styling for the buttons
.leftTurn {
    margin-right: 1200px;
    margin-left: 140px;
    margin-top: auto;
    z-index: 3;
    
}

.rightTurn {
    margin-right: 300px;
    margin-left: 1200px;
    z-index: 3;
}*/

/* CONTROLS */
.car-state-view .control-board {
    z-index: 3;
    position: absolute;
}
.car-state-view .left-turn-signal-button {
    width: 100px;
    height: 120px;
}

.car-state-view .right-turn-signal-button {
    margin-left: 579px;
    margin-top: -120px;

}

.car-state-view .headlights-button {
    margin-top: 170px;
    margin-left: -5px;
}

/* .head {
    font-size: 30px;
} */

.car-state-view .horn-button {
    margin-left: -5px;
    margin-top: 120px;
}

.car-state-view .rear-lights-button {
    margin-top: -396px;
    margin-left: 577px;
}

/* .hazard-lights-btn {
    position: absolute;
    z-index: 4; 
    width: 400px;
    height: 400px;
}

.hzd-lt {
    /* position: absolute;
    z-index: 0; 
    width: 100%;
    
} */

