.ctrl-btn {
  height: 100%;
}
.control-button.active {
  /* box-shadow: inset 0px 1px 0px 0px #77a809;
  background-color: #89c403;
  border: 1px solid #74b807; */
  /* text-shadow: 0px 1px 0px #528009; */
  color: #528009;
}
/* .control-button.active:active {
  background-color: #528009;
} */
.control-button {
  height: 100%;
  /* box-shadow: inset 0px 1px 0px 0px #e184f3;
  background-color: #770fab;
  border-radius: 6px;
  border: 1px solid #a511c0; */
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 4.5em;
  font-weight: bold;
  padding: 14px 90px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
}
/* .control-button:active {
  background-color: #56007e;
  position: relative;
  top: 1px;
} */
/* .control-button:focus {
  outline: none;
} */