.box{
    background-color: rgba(0,0,0,.3);
    width: 945px;
    padding: 10px;
    border: 2px solid rgb(255,255,255);
    border-radius: 25px;
    margin: 25px 0;
}
.item .value{
    color: #E5E5E5;
}
.item{
    font-size: 48px;
    font-weight: 600;
}
.value{
    font-size: 36px;
    color: #D5D5D5D5;
}
.text-box{
    margin: 0;
    border: black solid;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.button {
    color: #E5E5E5;
    display: block;
    width: 100%;
    border: none;
    background-color: #160f30;
    padding: 14px 28px;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
  }

.popup-title{
    color: black;
    font-size: 4rem;
    font-weight: 650;
    margin-bottom: 50px;
}

.popup-value{
    color: black;
    font-size: 3rem;
    margin: 20px;
}