
.toggle-switch {
  display: inline;
}
/* The switch - the box around the slider */
.toggle-switch .switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 50px;
}

/* Hide default HTML checkbox */
.toggle-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-switch .slider {
  position: absolute; 
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 41px;
  width: 40px;
  left: 6px;
  bottom: 4px;
  background-color: #8d8d8d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-switch input:checked + .slider {
  background-color: #333333;
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px #333333;
}

input:checked + .slider:before {
  background-color: #c400c6;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle-switch .slider.round {
  border-radius: 3px;
}

.toggle-switch .slider.round:before {
  border-radius: 5px;
}
